:root {
    // bg
    --bg-clr: hsla(0, 0%, 100%, 0.75);

    // card color
    --sedan-bg-clr: hsl(31, 77%, 52%);
    --suvs-bg-clr: hsl(184, 100%, 22%);
    --luxury-bg-clr: hsl(179, 100%, 13%);

    // text color
    --head-txt-clr: hsl(0, 0%, 95%);
    --sub-txt-clr: hsla(0, 0%, 100%, 0.75);
    --btn-bg-clr: hsl(0, 0%, 95%);

    --sedan-txt-clr: hsl(31, 77%, 52%);
    --suvs-txt-clr: hsl(184, 100%, 22%);
    --luxury-txt-clr: hsl(179, 100%, 13%);

    //outline
    --btn-border-clr: hsl(0, 0%, 95%);
}